@media screen and (min-width: 320px) {

.hero-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-item {
    margin-bottom: 72px;
}

.features-item-last {
    margin-bottom: 0;
}

.features-icon {
    display: none;
}

.features-name {
    align-items: stretch;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}

.features-text {
    width: 288px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

}

@media screen and (min-width: 768px) {

.features-list {
    display: flex;
    column-gap: 24px;
    align-items: center;
    row-gap: 72px;
    flex-wrap: wrap;
}

.features-item {
    margin-bottom: 0;
}

.features-name {
    width: 356px;
    text-align: left;
}

.features-text {
    width: 356px;
}

}

@media screen and (min-width: 1158px) {

.hero-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-icon {
    display: flex;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-icon-background {
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.features-name {
    width: 264px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.features-text {
    width: 264px;
    font-weight: 400;
}

}